<% include header %>

<div class="pt-5 col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0"><%= item.itemName %></h3>
        </div>
        <div class="pt-2 px-4">
            <p class="lead text-center">
                <%= item.description %>
            </p>
            <p>
                <%= item.fullPrice %> <br>
                <%= (item.inStock) ? "In stock" : "Out of stock" %>
            </p>
        
            <form action="/item/<%= item._id %>/<%= encodeURI(item.itemName) %>?_method=patch" method="post">
                <div class="form-group">
                    <input type="number" name="quantity" id="quantity" min="1" value="1">
                </div>
        
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Add to cart">
                </div>
            </form>
        </div>
    </div>
</div>
<% include footer %>